.form-field-manager{
    border: solid 2px var(--bg-darkgreen);
    background-color: var(--bg-lightgreen);
    color: var(--text-white);
}
.manager-header{
    border: solid 2px var(--white);
    background-color: var(--bg-darkgreen);
}
.logoff:hover{
    cursor: pointer;
    background-color: var(--bg);
    transition: 0.3s;
}
table{
    background-color: #000;
}
.td-task:hover{
    background-color: var(--bg-darkgreen);
    cursor: pointer;
}